<!DOCTYPE html>
<html>
<head>
  <title>OutworldReptiles</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,900;1,200;1,300;1,400;1,600;1,900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e961c52d73.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img class="logo" src="https://outworld-reptiles-production.s3.amazonaws.com/logo.jpg" width="200px" height="400px">
      </a>

      <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false" id="burger">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    
    <div class="navbar-menu" id="nav-links">
      <div class="navbar-end">
        <a class="navbar-item" href="/" >Home</a>
        <a class="navbar-item" href="/collection">Collection</a>
        <a class="navbar-item">Available</a>
        <a class="navbar-item">Contact</a>
      </div>
    </div>
   
  </nav>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <%= yield %>

  <footer class="has-text-centered footer">
    <h3>&copy; Outworld Reptiles</h3>
  </footer>
    
  <%= javascript_include_tag 'application' %> 
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>
   
</body>
</html>
